<div>
  <ul class="topnav" id="myTopnav">
    <li><a class="active not-active" style="font-family: 'Ewert', cursive;" href="#">The BucketList</a></li>
    <li class='floatright'><a class="logout" style="color: white" ng-click="logoutUser()">Logout</a></li>
    <li class='floatright'><a class="not-active username" style="color: white">{{logged_in_username}}</a></li>
    <li class="icon">
      <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-xm-12 col-sm-6">
    <div>
      <form name="new_list" method="post">
        <div class="form-group">
          <input type="text" class="form-control" required placeholder="New Bucketlist Name" name="list_name" ng-model="list_name">
        </div>
        <div ng-messages="new_list.list_name.$error" ng-show="new_list.list_name.$touched && newItem">
          <div class="help-block" style="color: red;" ng-message="required">Bucketlist Name is required</div>
        </div>
        <input type="submit" class="btn btn-info btn-raised btn-sm" ng-click="createNewList(list_name, current_blist_index)" ng-disabled="new_list.$invalid" name="create_list" id="create_list" value="Create List">
      </form>
    </div>
      <div ng-repeat="bl in bucketlists">
    <!-- <div dir-paginate="bl in bucketlists | itemsPerPage: 5"> -->
      <div class="bucketlist">
        <div class="blist_date">{{bl.date_created | datefilter}}</div>
        <button ng-if="!listEditMode[$index]" class="btn btn-success btn-raised btn-xs pull-right" ng-click="editBucketlist(bl.id, $index)">Edit</button>
        <button ng-if="listEditMode[$index]" class="btn btn-warning btn-raised btn-xs pull-right" ng-click="cancelBucketlist($index)">Cancel</button>
        <button class="btn btn-danger btn-raised btn-xs pull-right" ng-click="deleteBucketlist(bl.id, bl.name)">Delete</button>
        <button ng-if="!listEditMode[$index] && !itemEditMode[$index] && !itemAddMode[$index]" class="btn btn-info btn-raised btn-xs pull-right" id="addItemto{{$index}}" ng-click="createBucketlistItem(bl.id, $index)">Add Item</button>
        <hr>
        <div ng-if="listEditMode[$index]">
          <form method="post" name="blist_edit_form">
            <div class="form-group">
              <input type="text" class="form-control" required name="bucketlistname" ng-model="bl.name">
            </div>
            <div class="help-block" style="color:red;" ng-messages="blist_edit_form.bucketlistname.$error" ng-show="blist_edit_form.bucketlistname.$touched">
              <div ng-message="required">Please provide the bucketlist name</div>
            </div>
            <button class="btn btn-success btn-raised btn-xs" ng-disabled="blist_edit_form.$invalid" ng-click="editBucketListSubmit(bl.id, bl.name, $index)">Submit</button>
          </form>
        </div>
        <div ng-if="!listEditMode[$index]">
          <div style="cursor: copy;" id="blist{{$index}}" ng-click="getListItems(bl.id ,bl.name, $index)">{{bl.name}}</div>
        </div>
        <div ng-if="itemAddMode[$index] && !listEditMode[$index]">
          <hr>
          <form name="new_item_form" method="post">
            <div class="form-group">
              <input type="text" class="form-control" id="blistitem{{$index}}" placeholder="Enter Item Name" required ng-model="listitem" name="listitem">
            </div>
            <div ng-messages="new_item_form.listitem.$error" ng-show="new_item_form.listitem.$touched">
              <div class="help-block" style="color:red" ng-message="required">
                Please provide the item name
              </div>
            </div>
            <button class="btn btn-raised btn-info btn-xs" ng-disabled="new_item_form.$invalid" ng-click="createNewBucketlistItem(bl.id, listitem, $index)" id="submitItem{{$index}}">Add Item</button>
            <button class="btn btn-raised btn-danger btn-xs" ng-click="cancelNewItem($index)">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
    <div class="btn btn-block btn-primary">{{current_selection}}</div>
    <div class="bucketlist_items">
      <ul ng-repeat="item in current_items">
        <li ng-if="!itemEditMode[$index]" class="blist_items">{{$index+1}} ) <i style="color: #9D2933;" class="fa fa-remove" ng-show="!item.done"></i><i style="color: #26A65B;" class="fa fa-check" ng-show="item.done"></i>{{item.item_name}}
          <button class="btn btn-success btn-raised btn-xs pull-right" ng-click="editItem(item.id, $index)">Edit</button>
          <button class="btn btn-danger btn-raised btn-xs pull-right" ng-click="deleteItem(item.id, $index, current_bucket_list, current_blist_index)">Delete</button>
        </li>
        <br>
        <li class="blist_items" ng-if="itemEditMode[$index]">
          <form method="post" name="edit_item_form">
            {{$index+1}})
            <div class="form-group">
              <input type="text" class="form-control" ng-model="item.item_name" required name="item_name">
              <input type="checkbox" name="done" ng-model="done"> Done
            </div>
            <div ng-messages="edit_item_form.item_name.$error" ng-show="edit_item_form.item_name.$touched">
              <div class="help-block" style="color:red;" ng-message="required">
                Item name is required
              </div>
            </div>
            <button ng-if="itemEditMode[$index]" class="btn btn-warning btn-raised btn-xs pull-right" ng-click="cancelBucketlistItem($index, item.item_name, current_blist_index)">Cancel</button>
            <button class="btn btn-success btn-raised btn-xs pull-right" ng-disabled="edit_item_form.$invalid" ng-click="editItemSubmit(item.id, $index, item.item_name, done, current_blist_index)">Submit</button>
          </form>
          <br>
        </li>
      </ul>
    </div>
  </div>
</div>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
