h2{
	text-shadow: 2px 2px #9D2933;
}

.quote{
	font-size: 30px;
	font-family: andalus;
	text-shadow: 1px 1px 30px rgba(255, 24, 107, 1);
	font: bold;
  font-family: 'Merienda One', cursive;
}

.loginpage{
  background-image: url('../images/bucket-list.jpg') no-repeat;
  background-size: cover;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: white;
}
.logout{
  cursor: pointer;
  font-family: 'Satisfy', cursive;
}

.username{
  font-family: 'Delius Unicase', cursive;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li.floatright {float: right;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}